@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca:wght@700&display=swap');

:root{
    /*Primary*/
   --orange: hsl(31, 77%, 52%);
   --cyan: hsl(184, 100%, 22%);
   --darkCyan:  hsl(179, 100%, 13%);
    /*Neutral*/
   --paragraphs: hsla(0, 0%, 100%, 0.75);
   --bhb: hsl(0, 0%, 95%); /*background, headings, buttons*/
   /*Text size*/
   /*Font*/
   --Deca: 200 15px 'Lexend Deca', sans-serif;
   --BSD: 700 15px 'Big Shoulders Display', cursive;
}

